:root {
    --c-transparent: transparent;
    --c-current: currentColor;
    --c-black: #000000;
    --c-hljs-black: #1D1F21;
    --c-white: #FFFFFF;
    --c-bgmain: #edede8;
    --c-whiteAlpha-50: rgba(255, 255, 255, 0.04);
    --c-whiteAlpha-100: rgba(255, 255, 255, 0.06);
    --c-whiteAlpha-200: rgba(255, 255, 255, 0.08);
    --c-whiteAlpha-300: rgba(255, 255, 255, 0.16);
    --c-whiteAlpha-400: rgba(255, 255, 255, 0.24);
    --c-whiteAlpha-500: rgba(255, 255, 255, 0.36);
    --c-whiteAlpha-600: rgba(255, 255, 255, 0.48);
    --c-whiteAlpha-700: rgba(255, 255, 255, 0.64);
    --c-whiteAlpha-800: rgba(255, 255, 255, 0.80);
    --c-whiteAlpha-900: rgba(255, 255, 255, 0.92);
    --c-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --c-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --c-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --c-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --c-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --c-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --c-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --c-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --c-blackAlpha-800: rgba(0, 0, 0, 0.80);
    --c-blackAlpha-900: rgba(0, 0, 0, 0.92);
    --c-gray-50: #F7FAFC;
    --c-gray-100: #EDF2F7;
    --c-gray-200: #E2E8F0;
    --c-gray-300: #CBD5E0;
    --c-gray-400: #A0AEC0;
    --c-gray-500: #718096;
    --c-gray-600: #4A5568;
    --c-gray-700: #2D3748;
    --c-gray-800: #1A202C;
    --c-gray-900: #171923;
    --c-red-50: #FFF5F5;
    --c-red-100: #FED7D7;
    --c-red-200: #FEB2B2;
    --c-red-300: #FC8181;
    --c-red-400: #F56565;
    --c-red-500: #E53E3E;
    --c-red-600: #C53030;
    --c-red-700: #9B2C2C;
    --c-red-800: #822727;
    --c-red-900: #63171B;
    --c-orange-50: #FFFAF0;
    --c-orange-100: #FEEBC8;
    --c-orange-200: #FBD38D;
    --c-orange-300: #F6AD55;
    --c-orange-400: #ED8936;
    --c-orange-500: #DD6B20;
    --c-orange-600: #C05621;
    --c-orange-700: #9C4221;
    --c-orange-800: #7B341E;
    --c-orange-900: #652B19;
    --c-yellow-50: #FFFFF0;
    --c-yellow-100: #FEFCBF;
    --c-yellow-200: #FAF089;
    --c-yellow-300: #F6E05E;
    --c-yellow-400: #ECC94B;
    --c-yellow-500: #D69E2E;
    --c-yellow-600: #B7791F;
    --c-yellow-700: #975A16;
    --c-yellow-800: #744210;
    --c-yellow-900: #5F370E;
    --c-green-50: #F0FFF4;
    --c-green-100: #C6F6D5;
    --c-green-200: #9AE6B4;
    --c-green-300: #68D391;
    --c-green-400: #48BB78;
    --c-green-500: #38A169;
    --c-green-600: #2F855A;
    --c-green-700: #276749;
    --c-green-800: #22543D;
    --c-green-900: #1C4532;
    --c-teal-50: #E6FFFA;
    --c-teal-100: #B2F5EA;
    --c-teal-200: #81E6D9;
    --c-teal-300: #4FD1C5;
    --c-teal-400: #38B2AC;
    --c-teal-500: #319795;
    --c-teal-600: #2C7A7B;
    --c-teal-700: #285E61;
    --c-teal-800: #234E52;
    --c-teal-900: #1D4044;
    --c-blue-50: #ebf8ff;
    --c-blue-100: #bee3f8;
    --c-blue-200: #90cdf4;
    --c-blue-300: #63b3ed;
    --c-blue-400: #4299e1;
    --c-blue-500: #3182ce;
    --c-blue-600: #2b6cb0;
    --c-blue-700: #2c5282;
    --c-blue-800: #2a4365;
    --c-blue-900: #1A365D;
    --c-cyan-50: #EDFDFD;
    --c-cyan-100: #C4F1F9;
    --c-cyan-200: #9DECF9;
    --c-cyan-300: #76E4F7;
    --c-cyan-400: #0BC5EA;
    --c-cyan-500: #00B5D8;
    --c-cyan-600: #00A3C4;
    --c-cyan-700: #0987A0;
    --c-cyan-800: #086F83;
    --c-cyan-900: #065666;
    --c-purple-50: #FAF5FF;
    --c-purple-100: #E9D8FD;
    --c-purple-200: #D6BCFA;
    --c-purple-300: #B794F4;
    --c-purple-400: #9F7AEA;
    --c-purple-500: #805AD5;
    --c-purple-600: #6B46C1;
    --c-purple-700: #553C9A;
    --c-purple-800: #44337A;
    --c-purple-900: #322659;
    --c-pink-50: #FFF5F7;
    --c-pink-100: #FED7E2;
    --c-pink-200: #FBB6CE;
    --c-pink-300: #F687B3;
    --c-pink-400: #ED64A6;
    --c-pink-500: #D53F8C;
    --c-pink-600: #B83280;
    --c-pink-700: #97266D;
    --c-pink-800: #702459;
    --c-pink-900: #521B41;
    --c-twitter-50: #E5F4FD;
    --c-twitter-100: #C8E9FB;
    --c-twitter-200: #A8DCFA;
    --c-twitter-300: #83CDF7;
    --c-twitter-400: #57BBF5;
    --c-twitter-500: #1DA1F2;
    --c-twitter-600: #1A94DA;
    --c-twitter-700: #1681BF;
    --c-twitter-800: #136B9E;
    --c-twitter-900: #0D4D71;
    --c-telegram-50: #E3F2F9;
    --c-telegram-100: #C5E4F3;
    --c-telegram-200: #A2D4EC;
    --c-telegram-300: #7AC1E4;
    --c-telegram-400: #47A9DA;
    --c-telegram-500: #0088CC;
    --c-telegram-600: #007AB8;
    --c-telegram-700: #006BA1;
    --c-telegram-800: #005885;
    --c-telegram-900: #003F5E;

    --qlitre-fonts-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --qlitre-fonts-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --qlitre-fonts-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --font-size-4xl: 3.5rem;
    --font-size-3xl: 2.25rem;
    --font-size-2xl: 1.75rem;
    --font-size-xl: 1.25rem;
    --font-size-lg: 1.125rem;
    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-11: 44px;
    --spacing-12: 48px;
    --spacing-14: 56px;
    --spacing-16: 64px;
    --spacing-18: 72px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-32: 128px;
    --spacing-40: 160px;

    --size-1: 4px;
    --size-2: 8px;
    --size-3: 12px;
    --size-4: 16px;
    --size-5: 20px;
    --size-6: 24px;
    --size-7: 28px;
    --size-8: 32px;
    --size-9: 36px;
    --size-10: 40px;
    --size-11: 44px;
    --size-12: 48px;
    --size-14: 56px;
    --size-16: 64px;
    --size-18: 72px;
    --size-20: 80px;
    --size-24: 96px;
    --size-32: 128px;
    --size-36: 144px;
    --size-40: 160px;
    --size-48: 192px;
    --size-60: 240px;
    --size-64: 256px;
    --size-72: 288px;
    --size-80: 320px;
    --size-90: 360px;
    --size-100: 400px;

    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 10px;
    --radius-max: 9999px;

    --border-1: 1px solid;
    --border-2: 2px solid;
    --border-4: 4px solid;
    --border-8: 8px solid;

    --container-max-width: 960px;
}


body {
    color: var(--c-black);
    font-family: var(--qlitre-fonts-body);
    background-color: var(--c-white);
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
    font-family: var(--qlitre-fonts-heading);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #d03c56;
    text-decoration: none;
}